@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    scroll-behavior: smooth;
}

a,
h1,
h2 {
    scroll-behavior: smooth;
    font-family: 'Vidaloka', serif !important;
    /* font-family: 'Poppins', sans-serif !important; */
}

i {
    /* font-family: 'Poppins', sans-serif !important; */
    font-family: 'Inter', sans-serif;
}