@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    scroll-behavior: smooth;
}

/* a, */
h1,
h2 {
    scroll-behavior: smooth;
    font-family: "Vidaloka", serif;
    /* font-family: 'Poppins', sans-serif !important; */
}

h4,
h5,
h6,
p,
span,
blockquote,
a,
i {
    font-family: "Inter", sans-serif;
}

.box-pengelola {
    padding-top: 50px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 10px;
    border-radius: 0 30px 30px 0;
}

.box-pengelola p:nth-child(2) {
    text-align: justify;
    margin-right: 150px;
}

.box-pengelola img {
    border-radius: 5px;
    padding-right: 150px;
}

.box-pengelola * {
    color: rgb(231, 231, 231);
}

.shape-bg-pengelola {
    position: absolute;
    left: 0;
    /* top: 100%; */
    /* bottom: 120px; */
    bottom: 7%;
    width: 100%;
    z-index: -1;
}

.box-biaya {
    padding-top: 50px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 10px;
}

#vtour {
    position: relative;
    height: 100vh;
}

#vtour * {
    color: white;
}

.box-mulai-jelajah {
    position: absolute;
    background-color: black;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.85);
    transition: 500ms;
    font-family: "Vidaloka", sans-serif !important;
}

.box-mulai-jelajah:hover {
    width: 25%;
    background: rgb(0, 0, 0);
}

.box-mulai-jelajah:hover span {
    display: block;
    opacity: 100;
    margin-right: 20px;
    font-size: 120%;
}

.text-mulai-jelajah {
    position: absolute;
    top: 30%;
    padding: 0 15%;
    z-index: 1;
}

.text-mulai-jelajah h6 {
    transition: 500ms;
    font-size: 170%;
}

.text-mulai-jelajah p {
    transition: 500ms;
    font-size: 105%;
}

.link-mulai-jelajah {
    height: 10%;
    display: inline-block;
    position: absolute;
    top: 75%;
    margin-right: 20px;
    margin-left: 27.5%;
    transition: 500ms;
}

.link-mulai-jelajah span {
    z-index: 1;
    vertical-align: middle;
    opacity: 0;
    margin-right: 0;
    transition: 500ms;
}

.link-mulai-jelajah i {
    z-index: 1;
    transition: 500ms;
    animation: slide1 1s ease-in-out infinite;
}

#google-maps {
    margin-top: 50px;
    padding: 0 100px;
}

#box-keunikan {
    padding: 0 100px;
}

#box-keunikan .item {
    min-height: 650px;
}

.footer-bottom .container {
    height: 50px;
    padding-top: 26px;
}

#main-tour {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.thumbnail-spot {
    /* height: 200px; */
    padding: 10px;
}

.thumbnail-spot a{
    position: relative;
    display: block;
    height: 170px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.thumbnail-spot img{
    position: relative;
    object-fit: cover;
}

.thumbnail-spot span{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.thumbnail-spot-overlay {
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: ease-in-out .5s;
}

.thumbnail-spot-overlay h6 {
    margin-top: 3.2em;
    color: white;
    font-size: 1.5rem;
}

.thumbnail-spot a:hover .thumbnail-spot-overlay{
    opacity: 1;
}

/* Arrow animation */
@keyframes slide1 {
    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }
}

iframe#drone-view {
    position: absolute;
    left: 0;
}

/* Mobile */
@media (max-width: 575.98px) {
    .navbar-header {
        position: relative;
        right: 100;
    }

    .box-pengelola {
        padding-top: 50px;
        padding-right: 30px;
        padding-left: 25px;
        padding-bottom: 50px;
        border-radius: 0;
    }

    .box-pengelola p:nth-child(2) {
        text-align: justify;
        margin-right: 10px;
    }

    .box-pengelola img {
        padding-right: 10px;
    }

    .shape-bg-pengelola {
        position: absolute;
        left: 0;
        /* top: 100%; */
        /* bottom: 120px; */
        bottom: 0;
        width: 100%;
        z-index: -1;
    }

    .box-biaya {
        padding-top: 50px;
        padding-right: 30px;
        padding-left: 25px;
        padding-bottom: 30px;
    }

    #google-maps {
        margin-top: 50px;
        padding: 0 25px;
    }

    #google-maps p:nth-child(2) {
        display: block;
    }

    #iframe-maps {
        height: 350px;
    }

    #box-keunikan {
        padding: 0 25px;
    }

    #box-keunikan .item {
        min-height: 0;
        padding: 50px 30px;
    }

    .box-mulai-jelajah {
        width: 50%;
        padding: 03%;
    }

    .box-mulai-jelajah span {
        display: block;
        opacity: 100;
        margin-right: 20px;
        font-size: 120%;
    }

    .text-mulai-jelajah {
        position: absolute;
        top: 0;
        padding: 0 10%;
        z-index: 1;
    }

    .box-mulai-jelajah:hover {
        width: 50%;
        /* background: rgb(0, 0, 0); */
    }

    .text-mulai-jelajah h6 {
        transition: 500ms;
        font-size: 170%;
    }

    .text-mulai-jelajah p {
        display: none;
    }

    .link-mulai-jelajah {
        height: 10%;
        display: inline-block;
        position: absolute;
        top: 75%;
        margin-right: 10%px;
        margin-left: 10%;
        transition: 500ms;
    }

    .footer-bottom .container {
        height: 20px;
        padding-top: 0px;
    }

    #vtour {
        padding-top: 70px;
        height: 300px;
    }

    #informasi {
        padding-top: 100px;
    }
    
    #keunikan {
        padding-top: 100px;
    }

    #tentang {
        padding-top: 100px;
    }
}
